@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}


section {
    padding: 0 32px;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    width: 100%;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


.text--purple {
    color:#6415ff;
}

a {
    position: relative;
}

main {
    margin-bottom: 96px;
}

button {
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.header__email--btn:hover {
    background-color:rgb(69, 17, 173);
 }

 .learn__more--button:hover {
    background-color:rgb(69, 17, 173);
 }



/* NAV */


.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--image {
    width: 100%;
    max-width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary {
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background-color: #6415ff;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;   
}

.nav__link--primary:hover {
    color:#ffffff75;
}

.nav__link--login {
    font-size: 14px;
    font-weight: 600px;
    text-decoration: none;
    padding-top: 4px;
    margin: 0 24px 0 48px;
    font-weight: 600;
    letter-spacing: 0.35px;
}

.nav__link--login:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    color: #6415ff;
}



/* TEMPLATES */

.templates__row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.templates__container {
    padding: 96px 0;
}

.templates__img--wrapper {
    width: 50%;
}

.templates__img {
    width: 100%;
    max-width: 768px;
}

.about__treact {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.landing__h1 {
    font-size: 48px;
    color: #242424;
    padding: 12px 0;
    line-height: 1.25;
}

.landing__h2 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    line-height: 1.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 28px
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;

}

.header__email--input:focus, .header__email--input:active {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color: rgba(100, 21, 255);
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

::placeholder {
    color: #a5a5a5;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    padding: 16px 16px;
    cursor: pointer;
}

.header__customers--title {
    font-size: 12px;
    margin-top: 80px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}


/* FEATURES */

.features__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0, auto;
}

.features__container {
    display: flex;
    width: 100%;
    padding: 96px 0px;
    align-items: center;
    justify-content: center;
}

.features__header {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.features__title {
    color:#6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.features__sub-title {
    padding-top: 20px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.features__para {
    font-size: 18px;
    letter-spacing: 0.6;
    text-align: center;
    width: 100%;
    max-width: 600px;
    line-height: 1.65;
    font-weight: 500;
    color: #7c8ba1;
    margin-top: 24px;
    letter-spacing: 0.6px;
}

.feature {
    display: flex;
    width: calc(100%/3);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    padding-top: 12px 0;
    margin: 0 auto;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    height: 100%
}

.feature__text {
    display: flex;
    flex-direction: column;
    
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    margin-right: 20px;
}

.feature__title {
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-top: 12px
    
}

.feature__para {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 2;
    font-weight: 500;
    color: rgb(124, 139, 161);
    margin-top: 16px;
    
    
}


/* QUALITY */

.quality__row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.quality__work--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 64px;
}

.quality__work--right {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.quality__work--image {
    width: 100%;
    padding: 0
    
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: -1;
    display: block;
}

.section__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.quality__work--image--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.section__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.quality__para {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.625;
    color: #7c8ba1;
}

.learn__more--button {
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 500px;
    background: #6415ff;
    height: 40.8px;
    width: 141.688px;
    font-weight: 700;
    margin-top: 30px;
}



/* STEPS */

.steps__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.steps__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 64px
}

.steps__image--wrapper {
    width: 50%;
    display: flex;
    position: relative;
}

.steps__image {
    width: 100%;
    z-index: 2;

}

.steps__grid {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    opacity: 0.15;
    right: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    fill: rgba(100, 21, 255);
    z-index: -1;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    margin-right: 160px;
}

.steps__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.steps__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.step__title {
    font-weight: 500;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    letter-spacing: 1.6px;
}

.step__number {
    font-weight: 600px;
    font-size: 36px;
    line-height: 1;
    color: #cbd5e0;
    padding-right: 20px;
}

.step__para {
    letter-spacing: 1.6px;
    color: #718096;
    font-size: 14px;
    line-height: 1.5;
    margin: 12px;
}


/* VALUES */


.values__row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.values__container {
    padding: 96px 0;
    width: 100%;
}

.values__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.values__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.value__title {
    font-weight: 500;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    letter-spacing: 1.6px;
    display: flex;
}

.values__para {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.625;
    color: #7c8ba1;
}

.values__left {
    width: 50%;

}

.values__right {
    width: 50%;
}

.values__img {
    width: 100%;
}

.values__list {
    display: flex;
    }

.value__img {
    height: 20px;
    width: 20px;
}

.affordable__img--wrapper {
    background-color: #9ae6b4;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professionalism__img--wrapper {
    background-color: #feb2b2;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.value__para {
    line-height: 1.625;
    margin-top: 18px;
    color: #718096;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value {
    margin-top: 32px;
}



/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

.pricing__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.pricing__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.pricing__para {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.625;
    color: #7c8ba1;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plan {
    position: relative;
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 100;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(1) .plan__stripe {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(3) .plan__stripe {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top--1 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__top--2 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60;
    border-top: none;
}

.plan__top--3 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__name {
    font-size: 20px;
 }

 .plan__name__2 {
    font-size: 20px;
 }

 .plan:nth-child(1) .plan__name, .plan__price {
    color: #242424
 }

 .plan:nth-child(3) .plan__name, .plan__price {
    color: #242424
 }

 .plan:nth-child(1) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan:nth-child(3) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan__duration__2 {
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan__name__2, .plan__price__2, .plan__duration__2, .plan__target__2, .plan__feature__2 {
    color: #fff
 }

 .plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
    text-transform: uppercase;
}

 .plan__name__2, .plan__price__2, .plan__duration__2 {
    font-weight: bold;
    line-height: 1.625;
    text-transform: uppercase;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__price__2 {
    font-size: 48px;
    margin: 4px 0;
}

.plan__middle--1 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__middle--2 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60;
}

.plan__middle--3 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #242424
}

.plan__target__2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #fff;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__feature__2 {
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}


.plan__button--1 {
    width: 180px;
    height:50px;
    border: none;
    border-radius: 320px;
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.625px;
    transition: 300ms;
}
.plan__button--2 {
    width: 180px;
    height:50px;
    border: none;
    border-radius: 320px;
    color: rgb(100, 21, 255);
    background-color: rgb(247, 250, 252);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.625px;
    transition: 300ms;
}
.plan__button--3 {
    width: 180px;
    height:50px;
    border: none;
    border-radius: 320px;
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.625px;
    transition: 300ms;
}

.plan__button--1:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__button--2:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__button--3:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__bottom {
    text-align: center;
    position: relative;
    border:  solid 0.25px;
    border-color:#929cac60;
    padding: 32px 96px;
    background-color: #fff;
}

.plan__bottom--2 {
    text-align: center;
    position: relative;
    border:  solid 0.25px;
    border-color:#929cac60;
    padding: 32px 96px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}


/* TESTIMONIALS */

.testimonials__row {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.testimonials__img {
    width: 50%;
}

.testimonials__right {
    width: 50%;
    padding-left: 64px;
}

.testimonials__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.testimonials__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 18px 0 30px 0;
    letter-spacing: 1.6px;
}

.testimonials__ratings {
    margin-top: 52px;
}

.fas {
    color: rgb(246, 173, 85);
    border: none;
}

.user__experience--title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 20px 0;
}

.testimonials__para {
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
}

.user__experience--para {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    margin: 16px 0px 40px;
    color: rgb(74, 85, 104);
}

.testimonials__profile {
    display: flex;
}

.testimonials__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 28px;
}

.user__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
}

.user__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(36, 62, 99);
}

.user__job {
    color: rgb(124, 139, 161);
    font-weight: 500;
    line-height: 1.5;
}

.testimonials__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
    transition: all 300ms ease;
}

.testimonial__button:hover {
    background-color: rgb(226, 232, 240);
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.divider {
    width: 1px;
    height: 36px;
    background: rgb(229, 231, 235);
    margin-left: 12px;
    margin-right: 12px;
}


/* GET STARTED */

.start__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 21, 255);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.start__blob--1, .start__blob--2 {
    height: 300px;
    width: 300px;     
}

.start__blob--1 {
    position: absolute;
    bottom:0;
    left: 0;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__container {
    display: flex;
    padding: 96px;
    width: 100%;
    border-radius: 8px;
    justify-content: center;

}

.start__intro {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.625;
    width: 50%;
    padding-left: 100px
}

.start__buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.get__started--button {
    height: 70px;
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
    background-color: #f56565;
    margin-right: 32px;
    border: none;
}

.contact__us--button {
    height: 70px;
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
    background-color: rgb(100, 21, 255);
    border: 1px solid rgb(160, 174, 192);
   }



/* FOOTER */

footer {
    padding: 96px 96px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    width: 100%;
    max-width: 1280px;
}

.footer__container {
   display: flex;
   justify-content: center;
   
}

.footer__columns {
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
       
}

.footer__column {
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    z-index: 2;
}

.column__links {
    display: flex;
    flex-direction: column;
    
}



.column__title {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.footer__links {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 24px;
    transition: 300ms ease;
}

.footer__links:hover:after {
    opacity: 1;
}

.footer__links:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms;
    opacity: 0;
}

.footer__divider {
    height: 2px;
    margin: 64px 0;
    width: 100%;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.treact__logo {
    height: 32px;
    width: 32px;
}

.treact__name {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.5px; 
    padding-left: 8px;

}


.footer__social--links {
    display: flex;
    align-items: center;
    margin-left: -16px;
 }

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
    color: #243e63;
}

.footer__social--link:hover {
    background-color: rgba(203, 213, 224);
}

.copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__blob--1 {
    position: absolute;
    height: 320px;
    width: 320px;
    top: 0;
    left: 0;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}



/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

/* BREAKPOINTS - <600px, 601px, 768px, 992px, 1200px */


@media (max-width: 768px) {

    /* NAV */

    /* REALLY STRUGGLING WITH NAV BAR/HAMBURGER MENU */
    /* REALLY STRUGGLING WITH UNDERSTANDING THE EMAIL INPUT/EMAIL BUTTON, HOW TO I ADJUST THE TEXT SO THAT IT APPEARS EVEN AFTER THE BUTTON HAS BEEN MOVED BELOW INPUT */


    /* LANDING */

    .templates__row {
        flex-direction: column;
        width: 100%;
        max-width: 448px;
    }

    .landing__h1 {
        font-size: 28px;
        text-align: center;
    }

    .landing__h2 {
        font-size: 16px;
        text-align: center;
    }

    .header__email {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        
    }

    .header__customers--title {
        text-align: center;
    }

    .header__email--input {
        position: static;
        z-index: 0;
    }

    .header__email--btn {
        margin-top: 24px;
        margin: 8px;
        height: calc(100%-16px);
        border-radius: 500px;
        width: 160px;
        border: none;
        background-color: #6415ff;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        transition: all 300ms;
        padding: 16px 16px;
        cursor: pointer;
    }

    

    .header__customers {
        padding: 0;
    }

    .about__treact {
        width: 100%;
    }

    .templates__img--wrapper {
        width: 100%;
    }

    /* FEATURES */

    .feature__container {
        width: 100%
    }

    .features__row {
        width: 100%;
        max-width: 448px;
    }

    .features__sub-title {
        font-size: 28px;
        text-align: center;
    }

    .feature__title {
        text-align: center;
    }

    .feature__img--wrapper {
        display: flex;
        padding: 0;
        margin: 0 auto;
    }

    .features__para {
        font-size: 16px;
        letter-spacing: 0.6px;
    }

    .feature {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .feature__para {
        width: 100%;
        text-align: center;
    }

    .feature__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 448px;

    }

    /* QUALITY */
    .quality__row {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 448px;
    }

    .quality__work--left {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 58px;
    }

    .section__sub--title {
        font-size: 28px;
    }

    .quality__para {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .learn__more--button {
        margin: 0 auto;
    }
    
    .quality__work--right {
        width: 100%;
        
    }

    /* STEPS */

    .steps__row {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .steps__image--wrapper {
        width: 100%;
        max-width: 448px;

    }

    .steps__right {
        width: 100%;
        max-width: 448px;
        padding: 0;
    }

    .steps__title {
        text-align: center;
        margin-top: 60px;
    }

    .steps__sub--title {
        text-align: center;
        font-size: 28px;
    }

    .steps__list {
        display: flex;
        flex-direction: column;
    }

    .step {
        margin: 0 auto;
        flex-direction: column;
    }

    .step__title {
        text-align: center
    }

    .step__para {
        text-align: center;
    }

    .step__number {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    /* VALUES */

    .values__container {

    }

    .values__row {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        max-width: 448px;
        
        
    }

    .values__left {
        width: 100%;
        max-width: 448px;
        display: flex;
        flex-direction: column;
               
    }

    .values__para {
        text-align: center;
        font-size: 16px;
    }

    .values__list {
        display: flex;
        flex-direction: column;
    }

    .value__title {
        display: flex;
        justify-content: center;
    }

    .value__para {
        text-align: center;
    }

    .value__para:nth-child(2) {
        margin-bottom: 32px;
    }

    .values__right {
        width: 100%;
        text-align: center;
    }

    .values__img {
        width: 100%;
        max-width: 448px;
        
    }

    .values__title {
        text-align: center;
        margin-top: 54px;
    } 

    .values__sub--title {
        text-align: center;
        font-size: 28px;   
    }
    
/* PRICING */

.pricing__row {
    width: 100%;
    max-width: 448px;
    text-align: center;
}

.pricing__sub--title {
    font-size: 28px;
}

.pricing__para {
    font-size: 16px;
    padding: 0;
}

.plan {
    margin: 32px 0 32px 0;

}


/* TESTIMONIALS */

.testimonials__row {
    width: 100%;
    max-width: 448px;
    display: flex;
    flex-direction: column;
}

.testimonials__img {
    width: 100%;
    max-width: 448px;
    margin-bottom: 48px;
}

.testimonials__right {
    width: 100%;
    max-width: 448px;
    text-align: center;
    padding: 0;
}

.testimonials__sub--title {
    font-size: 28px;
}

.testimonials__para {
    font-size: 16px;
}

/* GET STARTED */

.start__row {
    width: 100%;
    max-width: 640px;
    max-height: 448px;
}

.start__intro {
    width: 100%;
    padding-left: 0;
    padding-bottom: 32px;
    text-align: center;
}

.start__buttons {
    width: 100%;
}

.start__container {
    display: flex;
    flex-direction: column;
}

.get__started--button, .contact__us--button {
    width: 100%;
    margin: 8px;
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
}

footer {
    padding: 48px 48px;
}

.footer__row {
    width: 100%;
    max-width: 448px;
    text-align: center;
}

.footer__columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;       
}

.footer__column {
    margin: 38px 32px 38px 32px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
}

.footer__logo{
    margin-bottom: 32px;
}

.copyright {
    margin-bottom: 32px;
}

.footer__social--links {
    margin-bottom: 32px;
}

