@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}


section {
    padding: 0 32px;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



.container {
    padding: 96px 0;
    width: 100%;
}

.text--purple {
    color:#6415ff;
}

a {
    position: relative;
}

main {
    margin-bottom: 96px;
}

button {
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.header__email--btn:hover {
    background-color:rgb(69, 17, 173);
 }

 .learn__more--button:hover {
    background-color:rgb(69, 17, 173);
 }



/* NAV */


.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--image {
    width: 100%;
    max-width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary {
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background-color: #6415ff;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;   
}

.nav__link--primary:hover {
    color:#ffffff75;
}

.nav__link--login {
    font-size: 14px;
    font-weight: 600px;
    text-decoration: none;
    padding-top: 4px;
    margin: 0 24px 0 48px;
    font-weight: 600;
    letter-spacing: 0.35px;
}

.nav__link--login:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    color: #6415ff;
}



/* TEMPLATES */

.templates__row {
    display: flex;
}

.templates__container {
    display: flex;
    width: 100%;
    padding-bottom: 96px;
    padding-top: 96px;
    padding-left: 80px;
    align-items: center;
}

.templates__img--wrapper {
    width: 60%;
}

.templates__img {
    width: 100%;
    max-width: 768px;
}

.about__treact {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.landing__h1 {
    font-size: 48px;
    color: #242424;
    padding: 12px 0;
    line-height: 1.25;
}

.landing__h2 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    line-height: 1.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 28px
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;

}

.header__email--input:focus, .header__email--input:active {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color: rgba(100, 21, 255);
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

::placeholder {
    color: #a5a5a5;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    padding: 16px 16px;
    cursor: pointer;
}

.header__customers--title {
    font-size: 12px;
    margin-top: 80px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}


/* FEATURES */

.features__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0, auto;
}

.features__container {
    display: flex;
    width: 100%;
    padding: 96px 0px;
    align-items: center;
    justify-content: center;
}

.features__header {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.features__title {
    color:#6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.features__sub-title {
    padding-top: 20px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.features__para {
    font-size: 18px;
    letter-spacing: 0.6;
    text-align: center;
    width: 100%;
    max-width: 600px;
    line-height: 1.65;
    font-weight: 500;
    color: #7c8ba1;
    margin-top: 24px;
}

.feature {
    display: flex;
    width: calc(100%/3);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    padding-top: 12px 0;
    margin: 0 auto;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    height: 100%
}

.feature__text {
    display: flex;
    flex-direction: column;
    
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    margin-right: 20px;
}

.feature__title {
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-top: 12px
    
}

.feature__para {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 2;
    font-weight: 500;
    color: rgb(124, 139, 161);
    margin-top: 16px;
    
    
}


/* QUALITY */

.quality__work--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 64px;
}

.quality__work--right {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.quality__work--image {
    width: 100%;
    padding: 0
    
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: -1;
    display: block;
}

.section__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.quality__work--image--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.section__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.quality__para {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.625;
    color: #7c8ba1;
}

.learn__more--button {
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 500px;
    background: #6415ff;
    height: 40.8px;
    width: 141.688px;
    font-weight: 700;
    margin-top: 30px;
}



/* STEPS */

.steps__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 64px
}

.steps__image--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.steps__image {
    width: 100%;
    z-index: 2;

}

.steps__grid {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    opacity: 0.15;
    right: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    fill: rgba(100, 21, 255);
    z-index: -1;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    margin-right: 160px;
}

.steps__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.steps__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.step__title {
    font-weight: 500;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    letter-spacing: 1.6px;
}

.step__number {
    font-weight: 600px;
    font-size: 36px;
    line-height: 1;
    color: #cbd5e0;
    padding-right: 20px;
}

.step__para {
    letter-spacing: 1.6px;
    color: #718096;
    font-size: 14px;
    line-height: 1.5;
    margin: 12px;
}


/* VALUES */

.values__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.values__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.value__title {
    font-weight: 500;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
    letter-spacing: 1.6px;
    display: flex;
}

.values__para {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.625;
    color: #7c8ba1;
}

.values__left {
    width: 50%;

}

.values__right {
    width: 50%;
}

.values__img {
    width: 100%;
}

.values__list {
    display: flex;
    }

.value__img {
    height: 20px;
    width: 20px;
}

.affordable__img--wrapper {
    background-color: #9ae6b4;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professionalism__img--wrapper {
    background-color: #feb2b2;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.value__para {
    line-height: 1.625;
    margin-top: 18px;
    color: #718096;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value {
    margin-top: 32px;
}



/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
}

.pricing__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.6px;
    font-size: 16px;
    color:#6415ff;
    margin: 0;
    padding: 0;
}

.pricing__sub--title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

.pricing__para {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 1.625;
    color: #7c8ba1;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plan {
    position: relative;
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 100;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(1) .plan__stripe {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(3) .plan__stripe {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top--1 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__top--2 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60;
    border-top: none;
}

.plan__top--3 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__name {
    font-size: 20px;
 }

 .plan__name__2 {
    font-size: 20px;
 }

 .plan:nth-child(1) .plan__name, .plan__price {
    color: #242424
 }

 .plan:nth-child(3) .plan__name, .plan__price {
    color: #242424
 }

 .plan:nth-child(1) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan:nth-child(3) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan__duration__2 {
    font-size: 16px;
    letter-spacing: 0.1em;
 }

 .plan__name__2, .plan__price__2, .plan__duration__2, .plan__target__2, .plan__feature__2 {
    color: #fff
 }

 .plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
    text-transform: uppercase;
}

 .plan__name__2, .plan__price__2, .plan__duration__2 {
    font-weight: bold;
    line-height: 1.625;
    text-transform: uppercase;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__price__2 {
    font-size: 48px;
    margin: 4px 0;
}

.plan__middle--1 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__middle--2 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60;
}

.plan__middle--3 {
    padding: 32px;
    text-align: center;
    border:  solid 0.25px;
    border-color:#929cac60
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #242424
}

.plan__target__2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: #fff;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__feature__2 {
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}


.plan__button--1 {
    width: 180px;
    height:50px;
    border: none;
    border-radius: 320px;
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.625px;
    transition: 300ms;
}
.plan__button--2 {
    width: 180px;
    height:50px;
    border: none;
    border-radius: 320px;
    color: rgb(100, 21, 255);
    background-color: rgb(247, 250, 252);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.625px;
    transition: 300ms;
}
.plan__button--3 {
    width: 180px;
    height:50px;
    border: none;
    border-radius: 320px;
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.625px;
    transition: 300ms;
}

.plan__button--1:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__button--2:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__button--3:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan__bottom {
    text-align: center;
    position: relative;
    border:  solid 0.25px;
    border-color:#929cac60;
    padding: 32px 96px
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}


/* TESTIMONIALS */


   






